#Main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('insects.jpg');
}

#App-main {
    width: 90%;
    height: 90%;
    background: #62deaaE0;
    box-sizing: border-box;
    padding: 3%;
    border-radius: 5%;
    border-style: solid;
    border-width: medium;
    border-color: black;
    overflow-y: hidden;
    border-style: solid;
}
