.container {
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    align-items: center;
}

.thesis-container {
    width: 40%;
    height: 100%;
    background: #81c24f;
    isolation: isolate;
    border-style: solid;
    border-radius: 4%;
    z-index: 1;
}

.taxon-container {
    width: 20%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
    height: 95%;
    border-radius: 5%;
    margin: 0 -3%;
    padding: 0 3%;
    background-color: #2ed6d9;
    border-style: solid;
    transition: width    .5s ease-out,
                height  .1s linear .6s,
                z-index  0s .65s;
}

.taxon-container:hover {
    cursor: pointer;
    background-color: #1ec6c9;
}

.taxon-container.expanded {
    z-index: 2;
    width: 75%;
    height: 105%;
    transition: height   .1s linear,
                width    .5s ease-in .2s,
                z-index   0s .15s;
}

#taxon-photoset {
    max-height: 0px;
    opacity: 0;
    transition: max-height   0s linear .6s,
                opacity .6s linear;
}

#taxon-photoset.expanded {
    max-height: 100%;
    opacity: 1;
    transition: max-height   0s linear 0s,
                opacity .6s linear;
}

.taxon-container > .taxon-text {
    flex: 5;
    height: 100%;
}

.taxon-container > .taxon-text > h2 {
    user-select: none;
    text-align: center;
    height: 5%;
}

.taxon-container > .taxon-text > p {
    user-select: none;
    height: 85%;
    margin: 0;
    overflow-y: scroll;
}

.taxon-container > .taxon-text > p::-webkit-scrollbar {
    display: none;
}

.taxon-container > #taxon-photoset {
    flex: 1;
}

.taxon-container > #taxon-photoset > div > .taxon-viewer {
    border: none;
    height: 100%;
}