.photosetContainer {
    height: auto;
    width: 100%;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
    overflow-x: hidden;
    overflow-x: scroll;
}

.photosetContainer::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F580;
	border-radius: 10px;
}

.photosetContainer::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F500;
}

.photosetContainer::-webkit-scrollbar-thumb
{
	background-color: #086a8780;
	border-radius: 10px;
}

.photosetImage {
    width: auto;
    height: 6em;
    box-sizing: border-box;
    object-fit: cover;
    border: solid thin black;
    border-radius: 20%;
    margin: 0.25em;
    cursor: pointer;
}

.photosetModal {
  position: absolute;
  top: 2%;
  left: 6%;
  right: 6%;
  bottom: 2%;
  outline-style: none;
}

.photosetModalSwitch {
    position: absolute;
    margin-left: 50%;
    display:inline-block;
}

.photosetModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFFB0
}

.photosetModalMain {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #13171c;
    padding: 0.5%;
}

.photosetModalImage {
    position: relative;
    height: 100%;
    width: 60%;
    margin-right: 0.5%;
    display: flex;
    background-color: #2f3133;
    justify-content: center;
    align-items: center;
}

.switchContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.switchButton {
    font-size: 250%;
    color: #DDD;
    width: 10%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    text-shadow: 0px 0 6px #888;
    background: none;
}

.switchButton:hover {
    width: 10%;
    height: 100%;
    border: none;
    outline: none;
    color: #F8F8F8;
}

.photosetModalText {
    height: 100%;
    width: 40%;
    background-color: #21252b;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.photosetModalText::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.photosetModalText::-webkit-scrollbar-thumb
{
	background-color: #112738;
	border: 2px solid #444;
}

.photosetModalText::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #313d47;
}

.photosetModalTitle {
    width: 100%;
    font-size: 300%;
    color: #73919c;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 2%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1%;
    border-style: solid;
    border-color: #121929;
}

.photosetModalDesc {
    font-size: 150%;
    padding: 1%;
    color: #b5b3b3;
}
