.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    height: auto;
    width: 100%;
}

.search-button {
    width: auto;
    height: auto;
    font-size: 40px;
    color: #007FFF70;
    background-color: #F0FFFF;
    border-width: 2px;
    border-color: #BFFFFF;
    border-style: solid;
    width: 50px;
    outline: none;
}

.search-button:active {
    border-width: medium;
    border-color: #80FFFF;
    border-style: solid;
}

.search-button:hover {
    cursor: pointer;
}

.search-input {
    background: #F0FFFF;
    color: #1a91c4;
    text-align: left;
    width: 100%;
    margin-right: 5%;
    height: auto;
    font-size: 40px;
    border-width: 2px;
    border-color: #81c24f;
    border-style: solid;
    outline-color: #BFFFFF;
    outline-width: medium;
}

.search-input:focus {
    background: #E0FFFF
}

.search-input::-webkit-input-placeholder {
    color: #1a91c4; /*Change the placeholder color*/
    opacity: 0.5; /*Change the opacity between 0 and 1*/
}
