.taxon-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #62c7deB0;
    border: solid thin black;
    position: relative;
}

.taxon-main > .taxon-text {
    height: 100%;
    overflow-y: auto;
}

.taxon-main > .taxon-text::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.taxon-main > .taxon-text::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.taxon-main > .taxon-text::-webkit-scrollbar-thumb
{
	background-color: #0ae;

	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.taxon-main > .taxon-text {
    flex: 5;
}

.taxon-main > .taxon-text > h2 {
    font-size: 2.5em;
    margin: 0;
    padding: 2%;
    background-color: #3aa2ba;
    border-bottom: solid thin black;
}

.taxon-main > .taxon-text > p {
    text-align: left;
    font-size: 1.5em;
    height: auto;
    margin: 0;
    padding: 1%;
}

.taxon-main > .taxon-viewer {
    flex: 1;
    background: #48abd9;
    position: relative;
    bottom: 0;
    border: none;
    border-top: solid thin black;
}
