.taxon-select-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.taxon-select-list {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
    margin: 0;
    margin-top: 2%;
    background: #42be8aa0;
    text-align: left;
    overflow-y: auto;
}

.taxon-select-item {
    height: auto;
    padding: 1%;
    padding-left: 3%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 140%;
    align-items: center;
}

.taxon-select-item + .taxon-select-item {
    margin-top: 1%;
}

.item-odd {
    background: #22b57a;
}

.item-even {
    background: #22b58e;
}

.taxon-select-item > p {
    margin: 0;
}

.taxon-select-item-button-container {
    width: auto;
    height: auto;
    font-size: inherit
}

.taxon-select-item-button {
    color: #EEE;
    border: none;
    background: none;
    font-size: 300%;
    border: solid medium #EEE;
    border-radius: 10%;
    margin-right: 10px;
}

.taxon-select-item-button:hover {
    background: #1a7a5aE0;
    cursor: pointer;
}
