.thesis-container > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thesis-container > .container > .link {
    width: 100%;
}

.thesis-container > .container .next-button {
    width: 94%;
    color: #EEE;
    border: none;
    background: rgba(0, 0, 0, 0.25);
    font-size: 300%;
    border: solid medium #EEE;
    border-radius:  10px;
    margin: 3%;
}

.thesis-container > .container .next-button:hover {
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.thesis-container > .container .thesis-text {
    padding: 5px;
    overflow-y: scroll;
}

.thesis-text::-webkit-scrollbar {
    display: none;
}

.thesis-photoset {
    background: none;
    border: none;
}