{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

<div id="mynetwork" style="height: 40em"></div>

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

<script type="text/javascript">

    const inline_container = document.getElementById("theses-group");
    inline_container.style.display = "none";
    const form = document.getElementById("taxondeterminer_form");
    const submit = document.getElementsByClassName("submit-row")[0].children[3]

    const theses = Array.prototype.reduce.call(
        Array.prototype.filter.call(
            document.getElementsByTagName('tr'),
            a => /theses-[0-9]+/.test(a.getAttribute('id'))
        ),
        function(obj, a) {
            obj[a.querySelector('td > input').value] = {
                'text': a.querySelector('td > p').innerHTML.trim(),
                'select': a.querySelector('td > div > select')
            }
            return obj
        }, {}
    )

    const nodes = Object.entries(theses).map( ([id, obj]) => ({
        'id': id,
        'label': obj.text,
    }));
    const edges = Object.entries(theses)
        .filter(([id, obj]) => obj.select.value)
        .map(([id, obj]) => ({'from': obj.select.value, 'to': id, 'arrows': 'to'}))

    function write_network_state() {
        Object.values(theses).forEach(thesis => thesis.select.value = 0)
        Object.values(network.body.edges).forEach(edge => 
            theses[edge.toId].select.value = edge.fromId);
    }

    var container = document.getElementById('mynetwork');

    var data = {
        nodes: nodes,
        edges: edges,
    };
    
    var options = {
        interaction: {
            hover: true,
        },
        manipulation: {
            enabled: true,
            initiallyActive: true,
            addNode: function (data, callback) {
                document.location = "/admin/determiner/thesis/add/?determiner={{ object_id }}";
            },
            addEdge: function (data, callback) {
                if (network.getConnectedNodes(data.from, 'to').length >= 2) {
                    alert("Теза не может ссылаться больше чем на 2 другие тезы");
                    return;
                }
                if (network.getConnectedNodes(data.to, 'from').length == 1) {
                    alert("У дочерней тезы уже есть родитель");
                    return;
                }
                if (data.from == data.to) {
                    alert("Теза не может ссылаться на саму себя");
                    return;
                }
                data['arrows'] = 'to';
                callback(data);
                write_network_state();
                submit.click();
            },
            editNode: function (data, callback) {
                document.location = "/admin/determiner/thesis/"+data.id+"/change/";
            },
            editEdge: function (data, callback) {
                callback(data);
                write_network_state();
            },
            deleteNode: false,
            deleteEdge: function (data, callback) {
                callback(data);
                write_network_state();
            }
        },
        layout: {
            hierarchical: {
                enabled: true,
                direction: 'UD',
                sortMethod: 'directed',
                levelSeparation: 80,
                nodeSpacing: 180,
                shakeTowards: 'roots',
            },
        },
        physics: {
            enabled: false,
            stabilization: {
                enabled: true,
                iterations: 1000,
            },
        },
        locale: 'ru',
    };

    var network = new vis.Network(container, data, options);


	function KeyPress(e) {
        var evtobj = window.event ? event : e
        if (evtobj.shiftKey && evtobj.ctrlKey) submit.click();
    }

	document.onkeydown = KeyPress;
	
</script>

</div>
</form>
</div>
{% endblock %}
